input  {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #F2E2C4;

}

.container {
    width: 100%;
    background: #F2E2C4; 
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 12px;
    padding: 25px;
    width: 350px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-inicio{

    background: #D97904;
    color: white;
    min-height: 30px;
    border-radius: 10px;
    border-color: aliceblue;
}
.btn-google {
    margin-top: 20px;
    min-height: 30px;
    color: white;
    background: #F2C029;
    border-color: white;
    border-radius: 10px;
}
.btn{
    border-radius: 10px;
    border-color: white;
    min-height: 30px;
}
.btn-dash{
    background: #9e492a;
    color: #ffff;
}
.btn-cerrar{
    background: #d5aa29;
    color: #ffff;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D97904;
    padding: 25px;
    width: 700px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.container-dash{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2E2C4; 
    padding: 20px;
}
.card-dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F29f05;
    border-radius: 12px;
    padding: 25px;
    width: 650px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.btn-eliminar{
    background: rgb(208, 95, 95);
    margin: 5px;
}
.btn-editar{
    background: rgb(92, 203, 92);
    margin: 5px;
}
.btn-agregar{
    background: rgb(99, 99, 204);
}
h5 {
    margin: 0;
    font-weight: 500;
}

.main-container {
  display: flex;
  gap: 40px;
  padding: 100px;
  align-items: flex-start; /* importante */
}

.lado-izquierdo {
  flex: 2;
}

.lado-derecho {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-lista {
  display: flex;
  gap: 20px;
}

.card-lista > :first-child {
  flex: 2;
}

.card-lista > :last-child {
  flex: 1;
}

.lado-derecho {
  max-width: 420px;
}